.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

.qty-picker {
    display: flex;
    flex-direction: row;
}

.product-img {
    width: 120px;
    height: 120px;
}

.background {
    background-image: linear-gradient(#0DA61E, #86E414);
}

h1, h2, p, li {
    color: white;
}

button {
    transition-duration: 0.5s;
}

button:hover {
    background-color: green;
    color: white;
}